@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
:root {
  --Dark-Blue-Dark-Mode-Elements: hsl(209, 23%, 22%);
  --Very-Dark-Blue-Dark-Mode-Background: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray-Light-Mode-Input: hsl(0, 0%, 52%);
  --Very-Light-Gray-Light-Mode-Background: hsl(0, 0%, 98%);
  --White-Dark-Mode-Text-Light-Mode-Elements: hsl(0, 0%, 100%);
  --Homepage-Items-font: 14px;
  --Detail-Page-font: 16px;
  --interactive: rgb(241 245 249);
}

html {
  scroll-behavior: smooth;
}
img {
  width: 100%;
  height: unset;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ol,
ul {
  list-style: none;
}
embed,
iframe,
img,
object,
svg {
  vertical-align: bottom;
}
button,
input,
optgroup,
select,
textarea {
  vertical-align: middle;
  font-family: inherit;
}
[type="button"]:disabled,
[type="reset"]:disabled,
[type="submit"]:disabled,
button:disabled {
  cursor: default;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: unset;
}
a,
[type="button"],
[type="reset"],
[type="submit"],
button,
label[for] {
  cursor: pointer;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
main,
header,
footer {
  max-width: 100%;
}

button,
a {
  transition: 0.4s ease;
}
:is(button, a):is(:focus, :focus-visible, :focus-within):not(.attribution a) {
  outline: #aaa dotted 3px;
  outline-offset: 0.35rem;
}

@mixin place__item__center {
  display: grid;
  place-items: center;
}
@mixin flex__column {
  display: flex;
  flex-direction: column;
}
@mixin flex__columnR {
  display: flex;
  flex-direction: column-reverse;
}
@mixin flex__rowR {
  display: flex;
  flex-direction: row-reverse;
}
@mixin flex__AC__JC {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin flex__JSB {
  display: flex;
  justify-content: space-between;
}

html {
  --bg-color-one: var(--White-Dark-Mode-Text-Light-Mode-Elements);
  --bg-color-two: var(--Very-Light-Gray-Light-Mode-Background);
  --text: var(--Very-Dark-Blue-Light-Mode-Text);
  --text2: #000;
  --interactive: rgb(241 245 249);
}

html.dark {
  --bg-color-one: var(--Dark-Blue-Dark-Mode-Elements);
  --bg-color-two: var(--Very-Dark-Blue-Dark-Mode-Background);
  --text: var(--White-Dark-Mode-Text-Light-Mode-Elements);
  --text2: var(--White-Dark-Mode-Text-Light-Mode-Elements);
  --interactive: rgb(255 255 255 / 0.2);
  --border: unset;
}
